
body{
    font: 20px arial, sans-serif;
}
.navbar{
 background-color:rgba(157, 206, 67, 0.918)
}
.quem-somos{
    background-color:rgba(215, 241, 154, 0.918);
    color: white;
    
    
}
.margin{
    
    padding-bottom: 50px;
    padding-top: 10px;
}
.parceiros{
     background-color: rgb(219, 91, 187);  
     color:blue     
}
.rg-footer{
    background-color: burlywood;
}
body{
    font: 20px arial, sans-serif;
}
